.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden; /* Ensures images don’t spill outside the container */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1.1); /* Start with a slight zoom */
  transition: opacity 1.5s ease-in-out, transform 2.5s ease-in-out; /* Smooth opacity and zoom */
}

.hero-image.active {
  opacity: 1; /* Fade in the active image */
  transform: scale(1); /* Gradually zoom out to normal scale */
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 300px;
  width: 100%;
  z-index: 2;
}

.hero-title {
  font-family: 'Staatliches', sans-serif;
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-family: 'Staatliches', sans-serif;
  font-size: 0.9rem;
  margin-bottom: 40px;
}

.hero-section .btn {
  font-family: 'Staatliches', sans-serif;
  font-size: 1.25rem;
  padding: 12px 24px;
  border-radius: 50px;
  background-color: #f0ad4e;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
}

.hero-section .btn:hover {
  background-color: #d48e29;
}

.hero-profile-overlay{
  font-family: 'Staatliches', sans-serif;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  max-width: 150px;
  width: 100%;
}
